#popup {
	&.reveal header { pointer-events: none }

	header a {
		margin-left: 1rem;

		&::before {
			content: "â®";
			margin-right: .5em;
		}
	}

	main {
		overflow: scroll;
		background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
	}
	
	section {
		height: calc(100vh - 4rem);
	}
}

#profile-page {
	grid-template-columns: 1fr;
	 #avatar {
		float: left;
		width: 6rem;
		border-radius: 100%;
	}
	#text p {
		margin: .2em 0 .2em 0;
		color: #DCDCDC;
		
		&::before {
			content: "ID:";
			color: #DCDCDC;
			margin-right: .4em;
		}
	}
	.about {
		display: grid;
		align-items: center;
		grid-template-columns: 6rem 3fr 5fr;
		grid-gap: 2rem;
		padding: 2rem;
		box-shadow: 0 0 25px rgba(0, 0, 0, .05);

		button {
			min-width: 8em;
			margin-left: .6em;
			float: right;
		}
	}

	#stats {
		padding: 1rem 2rem;
		display: grid;
		grid-template-columns: repeat(auto-fill,  minmax(10rem,  1fr));

		> div {
			text-align: center;
			p {
				margin: .5em 0 1.2em 0;
				font-size: .9em;
			}
		}
	}
}


#settings-page {
	padding: .5rem 2rem 2rem 2rem;
	display: flex;
	flex-direction: column;
	grid-template-columns: 1fr;

	h3 { margin: 1.5em 0 1em 0 }
}


#modes-page {
	padding: 2rem 2rem 0 2rem;
	grid-template-rows: repeat(2,  42%);
	grid-template-columns: repeat(3,  1fr);
	grid-gap: 1rem;
	align-items: center;

	.gm {
		height: 100%;

		> div {
			position: relative;
			width: 100%;
			height: 100%;
		
			h3 {
				position: absolute;
				bottom: .6rem;
				left: .6rem;
			}
		}
		&:nth-child(1) {
			grid-row: 1/3;
		}
		&:nth-child(2) {
			grid-column: 2/4;
		}
		&:nth-child(2) .about {
			width: 50%;
		}
	}
}

.dialog .content {
	&.tip {
		width: 30rem;
		padding: 1.4rem 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
			
		img {
			width: 10rem;
			height: 10rem;
			padding: 1rem;
		}
		.about {
			overflow: scroll;
			max-height: 80vh;
			min-height: 12rem;
			flex-grow: 1;
			display: flex;
			gap: .6rem;
			flex-direction: column;
			h2 {
				font-size: 1.4em;
				color: var(--primary);
			}
			p {
				font-size: .9em;
				line-height: 1.5;
				margin-bottom: .2rem;
				flex-grow: 1;
			}
			button { width: 100% }
		}
	}
}